---
import Nadvar from "../components/Nadvar.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Nadvar/>

		<h1>Sobre Mi</h1>
        <h2>DEV Y PROGRAMADOR WEB | QA MANUAL</h2>
		<p>**Descubriendo a [Nombre del Desarrollador]: Experto en Desarrollo Web y QA Manual**

			[Nombre del Desarrollador] es un profesional versátil con una pasión inigualable por el desarrollo web y el aseguramiento de la calidad. Con una sólida trayectoria en la creación de aplicaciones web de alto rendimiento y su meticulosa atención al detalle en QA manual, es un activo invaluable para cualquier equipo de desarrollo. Su habilidad para traducir diseños creativos en interfaces funcionales y su enfoque centrado en la excelencia lo distinguen como un líder en la industria tecnológica.</p>

	</body>
</html>
