
---
/*import Index from "../pages/index.astro";
---
/*
<script setup>
  let darkMode = false;

  const toggleTheme = () => {
    darkMode = !darkMode;
    if (darkMode) {
      document.documentElement.setAttribute('data-theme', 'dark');
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
    }
  };
</script>

<button onclick={toggleTheme}>
  {darkMode ? 'Modo Claro' : 'Modo Oscuro'}
</button>

*/